@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
	
}
body{
	background-color:#FFC0CB;
}
#container{
	width:800px;
	height: 650px;
	margin: 0 auto;
	border: 3px double black;
	
}
nav {
	width:230px;
	float:left;
	height:450px;
	font-family: "Bookman Old Style", "serif";
	padding: 0px 10px 0px 10px;
	background-color:oldlace;
	
}
.btn{
	background-color: #FFB6C1;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
	
}
.reading{
	Width:500px;
	height: 150px;
	background-color:beige;
	border-radius: 25px;
	float: right;
	margin: 0px 10px 10px 15px;
	padding: 0px 10px 0px 10px;

}
.toread{
	Width:500px;
	height: 150px;
	background-color:bisque;
	border-radius: 25px;
	float: right;
	margin: 0px 10px 10px 15px;
	padding: 0px 10px 0px 10px;
}
.read{
	Width:500px;
	height: 150px;
	background-color:beige;
	border-radius: 25px;
	float: right;
	margin: 0px 10px 0px 15px;
	padding: 0px 10px 0px 10px;
}
header > h1{
	text-align: center;
}
.meddon-regular {
  font-family: "Meddon", cursive;
  font-weight: 400;
  font-style: bold;
}
.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}


.reading>img{
	margin: 0px 5px 0px 5px;
}
footer{
	visibility: hidden;
}

.reading a:link{
	text-decoration:none;
}

.btn:active{
	transform: translateY(2px);
  	box-shadow: 0 5px #666;
}

th, td {
  padding: 10px;
}

.review {
		 border-collapse: collapse;
 		 width: 100%;
}
.review>th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #090000;
}

p {
	text-align: center;
}
